.card {
  background-color: rgba(255, 255, 255, 0.459); /* Color de fondo con transparencia */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
  overflow: hidden; /* Ocultar contenido que sobresalga */
  margin: 30px; /* Margen entre tarjetas */
  padding: 20px;
  color: black;
}

.card:hover {
  transform: translateY(-5px); /* Efecto de levantamiento al pasar el mouse */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

.card .content {
  padding: 20px; /* Espaciado interno */
}

.card .title {
  font-size: 20px; /* Tamaño del título */
  font-weight: bold; /* Negrita */
  color: #333; /* Color del texto */
  margin-bottom: 10px; /* Margen inferior */
}

.card .description {
  font-size: 16px; /* Tamaño del texto */
  color: #666; /* Color del texto */
}

.asegurador_select {
  margin: 0 auto;
  width: 15%;
}
