.historial-container {
    max-width: 90%;
    margin: auto;
  }
  
  .informe-list {
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }
  
  .informe-item {
    border: 1px solid #ddd;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
  }


  /* styles.css */

.form-container {
    width: 10%;
    margin-bottom: 20px;
  }
  
  .form-select {
    border: none;
    border-radius: 10px;
    margin: 0 10px;
    padding: 8px;
    font-size: 16px;
    background-color: #f9f9f9;
    outline: none;
  }

.form-inputs{
  display: flex;
  justify-content: space-around;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #0099ff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20% auto;
}


  
/* BUTTON------------------------------------------------------ */
/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

.input {
  max-width: 190px;
  height: 50%;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  background-color: #f9f9f9;
  caret-color: #0000ff;
  color: #000000;
  padding: 7px 10px;
  border: 1px solid transparent;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  margin-right: 1px;
  transition: all .2s ease;
}

.input:hover {
  border: 2px solid rgba(255, 255, 255, 0.16);
}

.search__btn {
  border: none;
  cursor: pointer;
  background-color: #a3a2a29f;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 100%;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* --------------------------------------------------------------------------- */