/* Estilos CSS */
.detalle-informe-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.h1-titulo-detalle {
  margin-top: 2%; /* Ajusta el margen superior según tus preferencias */
}

.detalle-informe-columns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

.detalle-informe-columns p {
  flex: 1 0 100%;
  margin: 0 1%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.poliza-activa {
  background-color: green;
}

.sin-poliza-activa {
  background-color: red;
}

/* Estilos CSS para la galería de fotos */
.fotos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.fotos-container img {
  border-radius: 10px;
  margin: 5px;
  width: 30%;
  height: auto;
}


/* Estilos para el spinner de carga */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #0099ff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20% auto;
}

/* Add this CSS to your component or style file */

/* Style for the modal */
.modal-content {
  background-color: white;
  padding: 50px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

/* Style to center the modal vertically */
.modal {
  position: absolute;
  top: 40%;
  left: 35%;
  margin: 0 auto;
}


.modal-header {
  background-color: #007bff; /* Header background color, change as needed */
  color: white; /* Header text color, change as needed */
  border-bottom: none;
  border-radius: 8px 8px 0 0; 
}

/* Style for the modal title */
.modal-title {
  margin: 0; /* Remove default margin */
}

/* Style for the modal body */
.modal-body {
  padding: 20px; /* Adjust padding as needed */
}

.modal-footer {
  border-top: none; 
  border-radius: 0 0 8px 8px;
  justify-content: center;
  text-align: center;
  
}

.poliza-button {
  margin: 0px 20px; /* Adjust margin as needed */
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5); 
}


