/* Estilos CSS para el header */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Glagolitic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #363F42;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  text-align: center; /* Centra el texto en dispositivos móviles */
}

body{
 
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.header__title {
  margin: 0;
  font-family: 'Noto Sans Glagolitic', sans-serif;
  text-transform: uppercase;
  color: #EFD319;
}

.header__nav {
  display: flex;
  gap: 10px;
}

.header__button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
}

.header__button:hover {
  background-color: #0056b3;
}

#p-nombre{
  color: white;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .header {
    position: relative; /* Cambia de fixed a relative */
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header__nav {
    margin-top: 10px;
  }
}

.div-header-inicio img{
  width: 50px;
  height: 50px;
}


.my-confirm-button-class {
  margin: 0 30px;
  background-color: #0056b3; /* Color de fondo */
  color: #fff; /* Color del texto */
  border: none; /* Borde */
  padding: 0.5rem 1rem; /* Espaciado interno */
  cursor: pointer; /* Cursor */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.my-confirm-button-class:hover {
  background-color: #003d80; /* Cambio de color de fondo al pasar el mouse */
}

.my-cancel-button-class {
  margin: 0 30px;
  background-color: transparent; /* Color de fondo transparente */
  color: #333; /* Color del texto */
  border: 1px solid #ccc; /* Borde sólido */
  padding: 0.5rem 1rem; /* Espaciado interno */
  cursor: pointer; /* Cursor */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave del color de fondo y del texto */
}

.my-cancel-button-class:hover {
  background-color: #f0f0f0; /* Cambio de color de fondo al pasar el mouse */
  color: #666; /* Cambio de color del texto al pasar el mouse */
}
