/* Estilos CSS para el header */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Glagolitic&display=swap');



.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #363F42;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  text-align: center; /* Centra el texto en dispositivos móviles */
}

.header__title {
  margin: 0;
  font-family: 'Noto Sans Glagolitic', sans-serif;
  text-transform: uppercase;
  color: #EFD319;
}

.header__nav {
  display: flex;
  gap: 10px;
}

.header__button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
}

.header__button:hover {
  background-color: #0056b3;
}

#p-nombre{
  color: white;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .header {
    position: relative; /* Cambia de fixed a relative */
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header__nav {
    margin-top: 10px;
  }
}
