.p-bienvenida{
    text-transform: uppercase;
    display: flex;
    position: absolute;
    top: -50px;
    margin: 0px 50px;
    font-size: x-large;
    font-weight: bold;
}

.div-bt-inicio{
    position: fixed;
    top: 25%;
    left: 0;
    right: 0;
}